<main>
	<h2>Handmade, Fresh, Daily!</h2>

		{{#each donut}

			<div class="donut-container">

				<span>Donut ID: {{this._id</span>>

				<h3><a rel="stylesheet" href="/donus/{{this._id}}">View Donut</a></h3>

				<p>$ <span>{{this.price}}</span> each</p>
			<a href="/donuts/new">Add a New Donut</a>


			</div>

		<<<< END THE LOOP >>>>


</main>
