* { 
    border: 1px solid red !important;
}

p {
    background: turquoise;
  }

div {
    margin: 0 auto;
    border: 5px solid black;
}


#container {
    height: 500px;
    width: 500px;
    background-color: gray;
}

.square {
    height: 100px;
    width: 
}

#square1 {
    background-color: red;
    
}
#square2 {
    background-color: blue;
   
}
#square3 {
    background-color: green;
    
}
#square4 {
    background-color: black;
    
}